
.text-primary,
.text-primary:hover {
    color: $brand-primary;
}

.text-success,
.text-success:hover {
    color: $brand-success;
}

.text-danger,
.text-danger:hover {
    color: $brand-danger;
}

.text-warning,
.text-warning:hover {
    color: $brand-warning;
}

.text-info,
.text-info:hover {
    color: $brand-info;
}

.page-header {
    margin-top: 0;
    h1 {
        font-size: 2.5em;
    }
    i {
        font-size: .6em;
    }
    span {
        color: $brand-info;
    }
    small {
        font-size: 1em;
    }
}